<html>
    <body>
        <a href="/">Home</a>
{{#if result.deleted}}
    <h2>{{model}} deleted</h2>
    remaining total: {{result.total}}
{{else}}
    <h2>{{model}} not found</h2>
{{/if}}

    </body>
</html>





{{!-- <html>
    <body>
        <a href="/">Home</a>
{{#if result.deleted}}
    <h2>{{model}} details</h2>
    <li>type: {{result.type}}</li>
    <li>Pub. date: {{result.pubdate}}</li>
    <p>
    <a href="/delete?model={{result.model}}">Delete</a>
    </p>
{{else}}
        <h2>{{model}} not found</h2>
{{/if}}

    </body> 
</html> --}}