<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

<head>   
<title>The HTML5 Herald</title>
  <meta name="description" content="Home Page">
  <meta name="author" content="ahmed hamad"

    <link rel="stylesheet" href="/css/main.css">
</head>
    <body> 
    <h1  class="home link"> <a href="/"> Home page </a></h1>
  <hr>
    <h2>Car Details </h2>

    {{#if result}}
        <h2> Model: {{model}}<h2>
        <li> Make: {{result.make}}
        <li> Year: {{result.year}}
        <li> Vin#: {{result.vin}} 
        <li> Type: {{result.type}}
    {{else}}
        <h2>{{model}} NOT Found </h2>
    {{/if}}
<hr>
</body>
</html> 


